{% extends "_layout" %}

{% set bodyId = 'customer'%}
{% block content %}
    <div class="row">
        <div class="twelve columns wrapper">
            {% if currentUser %}

                <h1>My Orders</h1>

                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th>{{ "Order"|t }}</th>
                        <th>{{ "Date"|t }}</th>
                        <th>{{ "Total Quantity"|t }}</th>
                        <th>{{ "Total"|t }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in craft.commerce.orders.customer(craft.commerce.customer).find() %}
                        <tr>
                            <td><a href="{{ url('/customer/order', { number: order.number }) }}">Order #{{ order.id }}</a></td>
                            <td>{{ order.dateOrdered }}</td>
                            <td>{{ order.totalQty }} items</td>
                            <td>{{ order.totalPrice|commerceCurrency(cart.currency) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div id="address-wrapper">
                  <h2><a href="/customer/addresses">Manage Addresses</a></h2>
                </div>

            {% else %}
            <div class='email'>

                <h3>Sign In</h3>

                <form method="post" accept-charset="UTF-8">

                    {{ getCsrfInput() }}

                    <input type="hidden" name="action" value="users/login">
                    <input type="hidden" name="redirect" value="customer">

                    <label for="loginName">Email</label>
                    <input id="loginName" class="u-full-width" type="text" name="loginName" placeholder="email@site.com"
                           value="{{ craft.session.rememberedUsername }}">

                    <label for="password">Password</label>
                    <input id="password" class="u-full-width" type="password" name="password">

                    <label>
                        <input type="checkbox" name="rememberMe" value="1">
                        Remember me
                    </label>

                    <input type="submit" value="Login" class="button button-primary"/>

                </form>

                <p><a href="{{ url('forgot-password') }}">Forget your password?</a></p>
                <p><a href="/customer/register">Create Account</a></p>

            </div>
              <div>

              </div>

            {% endif %}
        </div>
    </div>
{% endblock %}
