{% set cart = craft.commerce.cart %}


<div id="basket-dropdown">
  {% if not cart.lineItems|length %}
    <div id='empty-cart'>
      <p>{{ emptyCart.emptyCart }}</p>
    </div>
  {% endif %}

  {% if cart.lineItems|length %}
  <div>
    <table>
      <tr id="head">
        <td>Item</td>
        <td class="center">Qty</td>
        <td class='center'></td>
        <td class="right">Price</td>

      </tr>
      {% for item in cart.lineItems %}
        <tr>
          <td>{{ item.description }}</td>
          <td class="center">{{ item.qty }}</td>
          <td class='center'></td>
          <td class="right">{{ item.total|commerceCurrency(cart.currency) }}</td>
        </tr>
      {% endfor %}

      {% for adjustment in cart.adjustments %}
      {% if adjustment.type == 'Shipping' %}
      <tr id="footer">
        <td></td>
        <td></td>
	<td class="right total">{{ adjustment.name }} </td>
	<td class="right total">{{ adjustment.amount|currency(cart.currency) }}</td>
      </tr>
      {% endif %}
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="total right">{{ cart.totalPrice|commerceCurrency(cart.currency) }}</td>
      </tr>
    </table>
    <a href="/cart">View/Edit Cart</a>
  </div>
  {% endif %}
</div>
