<section id="basket-dropdown">
  <div>
    <table>
      <tr id="head">
        <td>Item</td>
        <td class="center">Size</td>
        <td class="center">Qty</td>
        <td class="right">Price</td>

      </tr>
      <tr>
        <td>Juice Name</td>
        <td class="center">7 Pack</td>
        <td class="center">1</td>
        <td class="right">$0.00</td>
      </tr>
      <tr>
        <td>Juice Name</td>
        <td class="center">7 Pack</td>
        <td class="center">1</td>
        <td class="right">$0.00</td>
      </tr>
      <tr>
        <td>Juice Name</td>
        <td class="center">7 Pack</td>
        <td class="center">1</td>
        <td class="right">$0.00</td>
      </tr>
      <tr id="footer">
        <td></td>
        <td></td>
        <td></td>
        <td class="total right">$0.00</td>
      </tr>
    </table>
    <a href="#">Checkout</a>
  </div>
</section>
