<footer>
  <div id="contact">
    <h3>contact us</h3>
    <p>
      <a href="mailto: {{ footerEmail.footerEmail }}">{{ footerEmail.footerEmail }} |</a>
      <a href="tel: {{ footerPhone.footerPhoneUrl }}">{{ footerPhone.footerPhone }}</a>
    </p>
    <div id="social">
      <ul>
        <li>
          <a href="https://www.facebook.com/gundalowjuice/">
            <svg viewBox="0 0 20 20" class="icon icon-facebook">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="http://instagram.com/GundalowJuice">
            <svg viewBox="0 0 18 18" class="icon icon-instagram">
            <use xlink:href="#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/GundalowJuice"><svg viewBox="0 0 20 20" class="icon icon-twitter">
              <use xlink:href="#icon-twitter"></use>
            </svg></a>
        </li>
      </ul>
    </div>
  </div>
    <div id="email-form">
      <h3>sign up for our newsletter</h3>
      <form action="#" method="post">
        <label for="email"></label>
        <input type="email" placeholder="email">
        <button type="submit">submit</button>
      </form>
    </div>
</footer>
