
{# Define the site navigation #}
{% set nav = {
  juice:    { title: "Shop Juice" },
  storelocator: {title: "Store Locator"},
  about:    { title: "About Us" },
  faq:      { title: "FAQ" }
} %}

<header>
  <ul>
    <li id="search">
      <svg viewBox="0 0 16 16.2" class="icon icon-magnifying-glass">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-magnifying-glass"></use>
      </svg>
      <form action="">
        <input type="text" name="" id="" placeholder="search">
      </form>
    </li>
    <li id="nav">
      <svg viewBox="0 0 20 20" class="icon menu">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use>
      </svg>
      <nav>
        <ul>
          <li>
            <form action="">
              <input type="text" placeholder="search">
            </form>
          </li>
        {% for slug, item in nav %}
              <li>
                <a href="{{ url(slug) }}" {% if craft.request.firstSegment == slug %}class="active"{% endif %}>{{ item.title|raw }}</a>
              </li>
          {% endfor %}
        </ul>
      </nav>
    </li>
    <li id="logo">
      <a href="/">
        <img src="{{ gjLogo.gjLogo.first().getUrl() }}">
      </a>
    </li>
    <li id="basket">
      <svg viewBox="0 0 27.2 21.1" class="icon icon-cart">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cart"></use>
      </svg>
    </li>
  </ul>
</header>
