{% extends '_layout' %}

{% set bodyId = 'checkout-addresses' %}

{% set cart = craft.commerce.cart %}

{% block content %}

    {% set addresses = craft.commerce.customer.addresses %}

    {# UI when at least one address exists #}

    {% include '_includes/meter' %}

    <div class="address">
            <form method="post">
              <div class="address-container">
                <input type="hidden" name="action" value="commerce/cart/updateCart">
                <input type="hidden" name="redirect" value="checkout/shipping"/>

                {{ getCsrfInput() }}

                {% if not cart.email %}
                <label for="">Email</label>
                <input class="u-full-width" type="text" value="{{ cart.email }}" name="email"
                       placeholder="email@site.com"/>

                <span class="flash">{{ cart.getErrors('email')|join }}</span><br>
                {% endif %}

                {% include '_includes/addresses/fieldset' with {
                    title: "Shipping Address"|t,
                    class: 'ShippingAddress',
                    name: 'shippingAddress'
                } %}

                <input type="hidden" name="sameAddress" value="1">

                <label for="sameAddress"><input id="sameAddress" name="sameAddress" type="checkbox"/><span class="label-body">Use same address for
                billing</span></label>

              </div>

                <br>

              <div class="address-container">

                {% include '_includes/addresses/fieldset' with {
                    title: "Billing Address"|t,
                    class: 'BillingAddress hidden',
                    name: 'billingAddress'
                } %}

                <input type="submit" class="button button-primary" value="Save and Continue">

              </div>

            </form>

    </div>
    {% includejs %}
    // form validation

    var shipFirstName = document.getElementById('shippingAddress-firstName')
    var billFirstName = document.getElementById('billingAddress-firstName')

    var shipLastName = document.getElementById('shippingAddress-lastName')
    var billLastName = document.getElementById('billingAddress-lastName')

    var shipAddress = document.getElementById('shippingAddress-address1')
    var billAddress = document.getElementById('billingAddress-address1')

    var shipCity = document.getElementById('shippingAddress-city')
    var billCity = document.getElementById('billingAddress-city')

    var shipZipcode = document.getElementById('shippingAddress-zipCode')
    var billZipcode = document.getElementById('billingAddress-zipCode')

    var shipCountry = document.querySelector('.shippingAddress .address-country')
    var billCountry = document.querySelector('.billingAddress .address-country')

    var shipState = document.getElementById('shippingAddress-stateId')
    var billState = document.getElementById('billingAddress-stateId')

    var sameAddress = document.getElementById('sameAddress')
    var submitButton = document.querySelectorAll('input[type=submit]')

    shipFirstName.addEventListener('change', billAddressFill, false)
    shipLastName.addEventListener('change', billAddressFill, false)
    shipAddress.addEventListener('change', billAddressFill, false)
    shipCity.addEventListener('change', billAddressFill, false)
    shipZipcode.addEventListener('change', billAddressFill, false)
    shipCountry.addEventListener('change', billAddressFill, false)
    shipState.addEventListener('change', billAddressFill, false)
    sameAddress.addEventListener('change', billAddressFill, false)



    function billAddressFill () {
      if (sameAddress.checked === true) {
        console.log('something')
        billFirstName.value = shipFirstName.value
        billLastName.value = shipLastName.value
        billAddress.value = shipAddress.value
        billCity.value = shipCity.value
        billZipcode.value = shipZipcode.value
        billCountry.value = shipCountry.value
        billState.value = shipState.value
      } else {
        billFirstName.value = " "
        billLastName.value = " "
        billAddress.value = " "
        billCity.value = " "
        billZipcode.value = " "
        billCountry.value = " "
        billState.value = " "
      }
    }


    var $fieldsets = $('.address-fieldset');

    $fieldsets.each(function () {

        var $addressFieldset = $(this);

        $('.address-select', $addressFieldset).each(function () {

            this.$element = $(this);
            this.$radio = $('.radio input', this.$element);
            this.$body = $('.body', this.$element);

            this.$radio.change($.proxy(function () {
                $('.body', $addressFieldset).addClass('hidden');
                this.$body.removeClass('hidden');
	            }, this));

            if (this.$radio.is(':checked')) {
            this.$body.removeClass('hidden');
            }
        });

    });

    $("#sameAddress").change(function (e) {
        $('.address-fieldset.BillingAddress').toggleClass('hidden');
    });

    {% if cart.billingAddressId and cart.billingAddress.hasErrors() %}
        $("#sameAddress").click();
    {% endif %}
    {% endincludejs %}

{% endblock %}
