@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700)';
@import 'https://fonts.googleapis.com/css?family=Arapey';
/* Basic Reset */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body,
h1,
h2,
h3,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0; }

/* Colors */
body {
  font: 100%/150% "Josefin Sans", sans-serif;
  color: #111;
  background-color: #fff; }

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase; }

/* Main */
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  body main {
    -ms-flex: 1;
    flex: 1; }

/* Links */
a {
  color: currentColor;
  text-decoration: none; }

/* SVG Icons */
svg.icon {
  display: inline-block;
  fill: currentColor;
  height: 2em;
  width: 2em;
  vertical-align: middle; }

[href*="facebook"]:hover {
  color: #3b5998; }

[href*="instagram"]:hover {
  color: #e95950; }

[href*="twitter"]:hover {
  color: #55acee; }

/* Lists */
ul {
  list-style: none; }

header {
  background-color: #000;
  color: #fff;
  padding: 1em; }
  header svg.icon {
    height: 1.5em;
    width: 1.5em; }
  header ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header ul li {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center; }
      @media (min-width: 44em) {
        header ul li {
          -ms-flex-pack: center;
          justify-content: center; } }
    header ul a > img {
      width: 12em; }
    header ul #search {
      display: none; }
      @media (min-width: 44em) {
        header ul #search {
          display: -ms-flexbox;
          display: flex; } }
      header ul #search form {
        position: absolute;
        left: 5%; }
        header ul #search form input[type="text"] {
          display: none;
          font-size: 1em;
          border-radius: 3px;
          font-family: "Josefin Sans", sans-serif;
          padding: .25em; }
    header ul #nav {
      cursor: pointer; }
      @media (min-width: 44em) {
        header ul #nav {
          -ms-flex-order: 3;
          order: 3;
          margin-right: 1.5em; } }
      header ul #nav nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 92px;
        right: 0;
        z-index: 1; }
        @media (min-width: 44em) {
          header ul #nav nav {
            width: auto; } }
        header ul #nav nav:after {
          content: " ";
          position: absolute;
          bottom: 100%;
          left: 4%;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #58595b; }
          @media (min-width: 44em) {
            header ul #nav nav:after {
              left: 1.5em; } }
        header ul #nav nav ul {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 100%;
          -ms-flex-align: center;
          align-items: center;
          background-color: #58595b;
          padding: .5em 0; }
          @media (min-width: 44em) {
            header ul #nav nav ul {
              padding: .2em .5em;
              -ms-flex-align: end;
              align-items: flex-end; } }
          header ul #nav nav ul li {
            padding: .25em .5em; }
            header ul #nav nav ul li:nth-of-type(1) {
              width: 100%; }
            header ul #nav nav ul li form {
              display: -ms-flexbox;
              display: flex;
              margin: auto;
              width: 100%; }
              @media (min-width: 44em) {
                header ul #nav nav ul li form {
                  display: none; } }
              header ul #nav nav ul li form input[type="text"] {
                width: 75%;
                margin: auto;
                text-align: center;
                font-size: 1em;
                font-family: "Josefin Sans", sans-serif;
                border-radius: 3px;
                padding: .25em; }
            header ul #nav nav ul li a:hover {
              color: black; }
    header ul #logo a > img {
      padding: .5em 0 0 0; }
    @media (min-width: 44em) {
      header ul #logo {
        -ms-flex-order: 2;
        order: 2;
        -ms-flex-positive: 2;
        flex-grow: 2; } }
    header ul #basket {
      cursor: pointer; }
      @media (min-width: 44em) {
        header ul #basket {
          -ms-flex-order: 4;
          order: 4;
          margin: 0 .5em .35em 0; } }

footer {
  color: #999999;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  @media (min-width: 46em) {
    footer {
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 1em;
      background-color: #fff; } }
  footer h3 {
    margin: .5em 0;
    text-transform: uppercase; }
  footer #contact {
    -ms-flex-order: 2;
    order: 2;
    color: #fff;
    background-color: #999999; }
    @media (min-width: 46em) {
      footer #contact {
        color: #999999;
        background-color: inherit;
        -ms-flex-order: 1;
        order: 1;
        text-align: left; } }
    footer #contact p {
      margin: .5em 0;
      padding: 0; }
    footer #contact #social {
      -ms-flex-order: 3;
      order: 3; }
      @media (min-width: 46em) {
        footer #contact #social {
          -ms-flex-order: 1;
          order: 1; } }
      footer #contact #social ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        padding: .5em 0 .5em 0; }
        @media (min-width: 44em) {
          footer #contact #social ul {
            -ms-flex-pack: start;
            justify-content: flex-start; } }
        footer #contact #social ul li:nth-child(-n+2) {
          margin-right: 2em; }
  footer #email-form {
    -ms-flex-order: 1;
    order: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 46em) {
      footer #email-form {
        text-align: right; } }
    footer #email-form form {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center; }
      @media (min-width: 46em) {
        footer #email-form form {
          -ms-flex-align: end;
          align-items: flex-end; } }
      footer #email-form form input {
        border: 1px solid #999999;
        box-shadow: inset .5px .5px .5px #999999;
        width: 18em;
        margin: 0 0 1em 0;
        font-size: 1em;
        border-radius: 3px;
        text-align: center;
        padding: .25em; }
        @media (min-width: 44em) {
          footer #email-form form input {
            text-align: right; } }
      footer #email-form form button {
        background-color: #999999;
        color: #fff;
        border-style: none;
        width: 5em;
        padding: .5em 0 .25em .1em;
        font-family: "Josefin Sans", sans-serif;
        font-size: 1em;
        border-radius: 3px;
        text-transform: uppercase;
        margin-bottom: .5em; }

#shipping-info {
  text-align: center;
  color: #fff;
  background-color: #58595b; }
  #shipping-info p:nth-of-type(1) {
    padding: .5em; }
    @media (min-width: 44em) {
      #shipping-info p:nth-of-type(1) {
        display: none; } }
  #shipping-info p:nth-of-type(2) {
    display: none; }
    @media (min-width: 44em) {
      #shipping-info p:nth-of-type(2) {
        display: block;
        padding: .5em; } }

#basket-dropdown {
  display: none;
  color: #fff;
  background-color: #58595b;
  width: 100%; }
  #basket-dropdown div {
    width: 90%;
    margin: auto; }
    @media (min-width: 44em) {
      #basket-dropdown div {
        width: 50%; } }
    #basket-dropdown div table {
      border-spacing: 0;
      width: 100%; }
      #basket-dropdown div table td {
        padding-bottom: 1em; }
      #basket-dropdown div table #head {
        font-weight: bold;
        font-size: 115%; }
        #basket-dropdown div table #head td {
          padding-top: 1em; }
      #basket-dropdown div table #footer > td {
        border-top: 1px solid #fff; }
      #basket-dropdown div table .center {
        text-align: center; }
      #basket-dropdown div table .right {
        text-align: right; }
      #basket-dropdown div table .total {
        padding-top: 1em; }
    #basket-dropdown div a {
      background-color: #fff;
      color: #58595b;
      display: block;
      float: right;
      padding: .5em;
      margin: 1em 0;
      border-radius: 3px;
      text-decoration: none; }
      @media (min-width: 44em) {
        #basket-dropdown div a {
          margin: 1.5em 0; } }
    #basket-dropdown div:after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 93%;
      bottom: 85.5%;
      right: 1.15em;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #999999; }
      @media (min-width: 44em) {
        #basket-dropdown div:after {
          display: none;
          bottom: 87%;
          right: 1.65em; } }

#shop-juice main#content #product-image {
  margin: 6em 0; }

#juice-content {
  margin: 3em 2em; }
  @media (min-width: 44em) {
    #juice-content {
      max-width: 32em;
      margin: 5em auto; } }
  #juice-content #juice-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column; }
    #juice-content #juice-header.starboard-strawberry h2:nth-of-type(1) {
      color: #ae3863; }
    #juice-content #juice-header.sailors-delight h2:nth-of-type(1) {
      color: #ee7522; }
    #juice-content #juice-header.watermelon-waves h2:nth-of-type(1) {
      color: #9cd8d8; }
    #juice-content #juice-header.harbor-voyage h2:nth-of-type(1) {
      color: #457bbe; }
    #juice-content #juice-header.dockside-sunrise h2:nth-of-type(1) {
      color: #f06177; }
    #juice-content #juice-header.s-s-veggie h2:nth-of-type(1) {
      color: #81bc41; }
    #juice-content #juice-header.mainstay-green h2:nth-of-type(1) {
      color: #0096aa; }
    @media (min-width: 44em) {
      #juice-content #juice-header {
        -ms-flex-direction: row;
        flex-direction: row; } }
    #juice-content #juice-header h2 {
      margin: 0 .5em .5em 0; }
      @media (min-width: 44em) {
        #juice-content #juice-header h2 {
          margin: 1em 0; } }

#button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }
  #button form.starboard-strawberry {
    background-color: #ae3863; }
  #button form.sailors-delight {
    background-color: #ee7522; }
  #button form.dockside-sunrise {
    background-color: #f06177; }
  #button form.harbor-voyage {
    background-color: #457bbe; }
  #button form.watermelon-waves {
    background-color: #9cd8d8; }
  #button form.mainstay-green {
    background-color: #0096aa; }
  #button form.s-s-veggie {
    background-color: #81bc41; }
  #button input[type='submit'] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }

#ingredients.starboard-strawberry {
  color: #ae3863; }

#ingredients.dockside-sunrise {
  color: #f06177; }

#ingredients.harbor-voyage {
  color: #457bbe; }

#ingredients.watermelon-waves {
  color: #9cd8d8; }

#ingredients.sailors-delight {
  color: #ee7522; }

#ingredients.mainstay-green {
  color: #0096aa; }

#ingredients.s-s-veggie {
  color: #81bc41; }

#ingredients svg.icon.hide {
  display: none; }

#ingredients #ingredient-content p.hide {
  display: none; }

#index #content {
  width: 100%; }
  #index #content #bg-img-wrap {
    width: 100%; }
  #index #content #bg-vid-wrapper {
    z-index: -100;
    position: relative;
    top: 11.25em;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35vh; }
    #index #content #bg-vid-wrapper video#bgvid {
      background: transparent;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      /* No object-fit support */
      /* With object-fit support */ }
      @media (min-aspect-ratio: 16 / 9) {
        #index #content #bg-vid-wrapper video#bgvid {
          height: 300%;
          top: -100%; } }
      @media (max-aspect-ratio: 16 / 9) {
        #index #content #bg-vid-wrapper video#bgvid {
          width: 300%;
          left: -100%; } }
      @supports (object-fit: cover) {
        #index #content #bg-vid-wrapper video#bgvid {
          height: 100%;
          width: 100%;
          top: 11.25em;
          left: 0;
          object-fit: cover; } }
  #index #content #hero {
    color: white;
    min-height: 50vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 28em;
    padding: 1em;
    z-index: -1; }
    @media (min-width: 44em) {
      #index #content #hero {
        margin: -8em 0 2em 3em; } }
  #index #content h1 {
    margin: 1em 0;
    text-transform: uppercase; }
  #index #content p {
    font-size: 1.25em;
    line-height: 1.25; }
  #index #content section#featured-prod {
    width: 100%;
    background-color: #fff; }
    #index #content section#featured-prod #product-wrap {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      margin: 4em auto;
      background-color: #fff;
      padding: 4em 0; }
      @media (min-width: 44em) {
        #index #content section#featured-prod #product-wrap {
          -ms-flex-direction: row;
          flex-direction: row;
          width: 80%; } }
      #index #content section#featured-prod #product-wrap h2 {
        margin: 1em 0;
        text-align: center; }
        #index #content section#featured-prod #product-wrap h2.dockside-sunrise {
          color: #f06177; }
        #index #content section#featured-prod #product-wrap h2.sailors-delight {
          color: #ee7522; }
        #index #content section#featured-prod #product-wrap h2.harbor-voyage {
          color: #457bbe; }
        #index #content section#featured-prod #product-wrap h2.watermelon-waves {
          color: #9cd8d8; }
        #index #content section#featured-prod #product-wrap h2.starboard-strawberry {
          color: #ae3863; }
        #index #content section#featured-prod #product-wrap h2.mainstay-green {
          color: #0096aa; }
        #index #content section#featured-prod #product-wrap h2.s-s-veggie {
          color: #81bc41; }
      #index #content section#featured-prod #product-wrap p {
        margin-bottom: 1em;
        padding: 0 1em; }
      #index #content section#featured-prod #product-wrap #product-content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center; }

@media (max-width: 44em) {
  #index video#bgvid {
    display: none; }
  #index #bg-img-wrap {
    background: url("/assets/images/gj-homepage-bg.jpg") 50% 100% no-repeat;
    background-size: cover; } }
