#button {
  display: flex;
  justify-content: center;
  color: #fff;

  form {

    &.starboard-strawberry {
      background-color: $starboard-strawberry-dark;
    }

    &.sailors-delight {
      background-color: $sailors-delight-dark;
    }

    &.dockside-sunrise {
      background-color: $dockside-sunrise-dark;
    }

    &.harbor-voyage {
      background-color: $harbor-voyage-dark;
    }

    &.watermelon-waves {
      background-color: $watermelon-waves-dark;
    }

    &.mainstay-green {
      background-color: $mainstay-green-dark;
    }

    &.s-s-veggie{
      background-color: $ss-veggie-dark;
    }

    &.anchor-case{
      background-color: $anchor-case-dark;
    }

    &.compass-case{
      background-color: $compass-case-dark;
    }

    &.crew-case{
      background-color: $crew-case-dark;
    }

    &.lighthouse-case{
      background-color: $lighthouse-case-dark;
    }

    &.baltimore-birthday {
      background-color: $gj-grey-dark;
    }

  }
  input[type='submit'] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    // border: 1px solid #bbb;
    border-style: none;
    cursor: pointer;
    box-sizing: border-box;
    font: 100%/150% $body-font;

    &:focus {
      outline: none;
    }
  }

  #minus,
  #plus {
    width: 2em;
    border-width: 0;
    cursor: pointer;
    font: 150%/150% $body-font;
    color: #fff;

    &:focus {
      outline: none;
    }
  }

  #minus {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    &.starboard-strawberry-dark {
      background-color: $starboard-strawberry;
    }

    &.sailors-delight-dark {
      background-color: $sailors-delight;
    }

    &.dockside-sunrise-dark {
      background-color: $dockside-sunrise;
    }

    &.harbor-voyage-dark {
      background-color: $harbor-voyage;
    }

    &.watermelon-waves-dark {
      background-color: $watermelon-waves;
    }

    &.mainstay-green-dark {
      background-color: $mainstay-green;
    }

    &.s-s-veggie-dark{
      background-color: $ss-veggie;
    }

    &.anchor-case{
      background-color: $anchor-case;
    }

    &.compass-case{
      background-color: $compass-case;
    }

    &.crew-case{
      background-color: $crew-case;
    }

    &.lighthouse-case{
      background-color: $lighthouse-case;
    }

    &.baltimore-birthday {
      background-color: $gj-grey;
    }
  }

  #plus {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &.starboard-strawberry {
      background-color: $starboard-strawberry;
    }

    &.sailors-delight {
      background-color: $sailors-delight;
    }

    &.dockside-sunrise {
      background-color: $dockside-sunrise;
    }

    &.harbor-voyage {
      background-color: $harbor-voyage;
    }

    &.watermelon-waves {
      background-color: $watermelon-waves;
    }

    &.mainstay-green {
      background-color: $mainstay-green;
    }

    &.s-s-veggie{
      background-color: $ss-veggie;
    }

    &.anchor-case{
      background-color: $anchor-case;
    }

    &.compass-case{
      background-color: $compass-case;
    }

    &.crew-case{
      background-color: $crew-case;
    }

    &.lighthouse-case{
      background-color: $lighthouse-case;
    }

    &.baltimore-birthday {
      background-color: $gj-grey;
    }
  }
}

#pack-info > p {
  max-width: 24em;
  margin: 1em auto;
  text-align: center;
}
