#checkout {
  main{
    .row {
      width: 90%;
      margin: 2em auto;
    }

    .email {
      margin: 2em auto 4em;

      h3 {
        margin-bottom: 1em;
      }

      form {
        display: flex;
        flex-direction: column;
      }

      @media (min-width: 30em) {
        flex-direction: row;
        width: 15em;
      }
    }

    input.button.button-primary {
      width: 12em;
    }
  }
}
