img.logo{ width:400px; }

#header { margin-top: 50px; }

#header nav { margin-top: 25px; }

#main { margin-top: 25px; }

img.product { width: 100%; }

.flash{ color: #DA5A17; margin-bottom:10px;}

.has-error input{
    border:1px solid #DA5A17;
}

.has-error .help-block{
    color: #DA5A17;
}

.address-select { background: #fff; border: 1px solid #eee; margin-bottom: 1em; position: relative; border-radius: 4px; }
.address-select .radio input { margin: 0 5px 0 0; position: relative; top: -1px; }

.address-select .radio { padding: 14px 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.address-select ul.address-data { display: inline; }
.address-select ul.address-data li { display: inline; }
.address-select ul.address-data li { display: inline; }
.address-select ul.address-data li strong { display: none; }
.address-select ul.address-data li span[data-key=firstName] { font-weight: bold; }
.address-select ul.address-data li span[data-key=lastName] { font-weight: bold; }

.address-select .actions { float: right; padding: 14px 15px; font-size: 0.9em; }
.address-select .actions ul { margin:0; }
.address-select .actions ul li { display: inline-block; margin: 0 0 0 1em; }
.address-select .actions ul li a { color: #999; text-decoration: underline; }

.address-select .body { padding: 14px; }

.hidden { display: none; }

.product.row {
    border-bottom: 1px solid #fafafa;
    margin-bottom: 2.5rem;
}

.product-details {
    padding-top: 2rem;
}


.address-card { background-color: transparent; border-radius: 5px; padding:20px 0px 0px 20px; border: 1px solid #E1E1E1; margin-bottom: 15px; position: relative;  }
.address-card form { display:inline; margin:0px; }
.address-card .edit { position: absolute; top: 20px; right: 20px; }
.address-card ul { list-style: none; }

.shipping-select { background: #fff; border: 1px solid #eee; margin-bottom: 1em; position: relative; border-radius: 4px; }
.shipping-select input { margin: 0 5px 0 0; }
.shipping-select label { padding: 10px 14px; }
.shipping-select .price { float: right; padding: 4px 4px; font-size: 0.9em; font-weight: normal; }

.review-card { background-color: transparent; border-radius: 5px; padding:20px; border: 1px solid #E1E1E1; margin-bottom: 15px; position: relative;  }
.review-card ul { list-style: none; margin: 0; }
.review-card ul li { border-top: 1px solid #E1E1E1; padding: 10px 0;  }
