#customer-care {

  #bg-img {
    margin-bottom: 3em;
  }

 section {
   margin: 2em 1em;

   @media (min-width: 48em) {
     max-width: 40em;
     margin: 2em auto;
   }

  h1 {
    margin: 1em 0;
  }

  h2, p {
     margin: 0 0 1em;
   }

   p:first-of-type {
     margin-bottom: 2em;
   }

   ul {
     margin: 0 0 1em;
   }
 }



}
