#customer {

  .email {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2em auto;
    width: 90%;

    @media (min-width: 44em) {
      width: 50%;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 50%;
      text-align: center;
      margin: auto;

      input[type='submit'] {
        width: 100%;
        padding: .7em .5em .5em .5em;
        margin: .5em 0 0 0;
        text-align: center;
        background-color: #fff;
        border: 1px solid black;
        cursor: pointer;
        font: 1em $body-font;
        font-weight: bold;
        border-radius: .2em;
      }
    }
  }

  .wrapper {
    width: 50%;
    margin: 2em auto;
    text-align: center;

    table {
      margin: 2em auto;
    }
  }
}
