.user-signup-discount {

	background-image: url('/assets/images/bg-email-popup.jpg');
	background-size: cover;
	color: #FFF;

	hr { background: #FFF; }


	input[type="text"] {

		background: rgba(255,255,2555,0.65);
	}

	input[type="submit"] {

		border-color: #FFF;
		color: #FFF;
	}
}
