body {
  font: 100%/150% $body-font;
  color: #111;
  background-color: $body-bg;
}

h1,
h2,
h3 {
  font-family: $header-font;
  text-transform: uppercase; 
}

/* Main */

body{
  display: flex;
  flex-direction: column;
  // min-height: 100vh;

  main {
    flex: 1;
  }
}

/* Links */

a {
  color: currentColor;
  text-decoration: none;
}

/* SVG Icons */

svg.icon {
  display: inline-block;
  fill: currentColor;
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

[href*="facebook"]:hover {
  color: #3b5998
}

[href*="instagram"]:hover {
  color: #e95950
}
[href*="twitter"]:hover {
  color: #55acee
}


/* Lists */

ul {
  list-style: none;
}
