#content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: space-between;

  @media (min-width: 47.5em) {
    flex-direction: row;
    width: 70%;
  }

  @media (min-width: 67.5em) {
    width: 65%;
    flex-direction: row;
  }

  @media (min-width: 78.5em) {
    width: 55%;
  }

  .column-one-half {
    flex: 0 1 45%;

    #button {
      margin-top: 1em;
    }

    #juice-content {
      margin: 3em 2em;

      @media (min-width: 44em){
        max-width: 32em;
        margin: 0 auto;
      }

      #juice-header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media (min-width: 47.5em) {
          flex-direction: column;
        }

        // @media (min-width: 78.5em) {
        //   flex-direction: column;
        // }

        h2:nth-of-type(2) {
          text-transform: lowercase;
          font-weight: normal;
        }

        &.starboard-strawberry{

          h2:nth-of-type(1) {
            color: $starboard-strawberry;
          }
        }

        &.sailors-delight{

          h2:nth-of-type(1) {
            color: $sailors-delight;
          }
        }

        &.watermelon-waves{

          h2:nth-of-type(1) {
            color: $watermelon-waves;
          }
        }

        &.harbor-voyage{

          h2:nth-of-type(1) {
            color: $harbor-voyage;
          }
        }

        &.dockside-sunrise{

          h2:nth-of-type(1) {
            color: $dockside-sunrise;
          }
        }

        &.s-s-veggie{

          h2:nth-of-type(1) {
            color: $ss-veggie;
          }
        }

        &.mainstay-green{

          h2:nth-of-type(1) {
            color: $mainstay-green;
          }
        }

        &.anchor-case {

          h2:nth-of-type(1) {
            color: $anchor-case;
          }
        }

        &.compass-case{

          h2:nth-of-type(1) {
            color: $compass-case;
          }
        }

        &.crew-case{

          h2:nth-of-type(1) {
            color: $crew-case;
          }
        }

        &.lighthouse-case{

          h2:nth-of-type(1) {
            color: $lighthouse-case;
          }
        }

        &.baltimore-birthday {

          h2:nth-of-type(1) {
            color: $gj-grey;
          }
        }

        h2 {
          text-align: center;

          @media (min-width: 47.5em) {
          margin: 1em 0 0;
          text-align: left;
          }

          @media (min-width: 67.5em) {
            text-align: left;
          }
        }

        h2:nth-of-type(2) {
          margin: .5em 0;

          @media (min-width: 78.5em) {
            margin: .5em 0;
          }
        }
      }
    }
  }
}
