#shop-juice {

  main#content {

    #product-image {
      margin: 2em 0;

      img {
        height: 18.750em;
        margin: 0 4em;
      }

      .flickity-viewport {
        height: 20.625em;
      }
    }
  }
}
