#media-logos {
  background-color: #999999;
  text-align: center;

  h2 {
    padding: 1em;
    color: #fff;
  }

  .carousel {
    padding: 1em;
  }

  ol {
    display: none;
  }

  .flickity-slider {
    display: flex;
    align-items: center;
  }

  img {
    padding: 0 1em;
  }

}
