#payment {
  main {
    width: 90%;
    margin: 2em auto;

    @media (min-width: 44em) {
      width: 100%;
    }

    h3 {
      margin: 1em 0;
    }

    .two-thirds {
      width: 90%;
      margin: 1em auto;
      text-align: center;
    }

    .review-card {
      width: 60%;
      margin: auto;

      @media (min-width: 44em) {
        width: 12em;
        margin: 0 auto;
      }

      li {
        margin-bottom: .5em;
      }

      #order-total, #order-shipping {
        border-top: 1px solid #000;
        padding-top: .5em;
        margin-bottom: 0;
      }

      .right {
        float: right;
      }
    }
  }
}
