#payment {
  main {
    width: 90%;
    margin: 2em auto;

    @media (min-width: 44em) {
      width: 100%;
    }

    h3 {
      margin: 1em 0;
    }

    .two-thirds {
      width: 90%;
      margin: 1em auto;
      text-align: center;
    }

    #coupon {
      display: flex;
      justify-content: center;

      input[type=text] {
        font-size: 1em;
        padding: 0;
        margin-left: 1em;
      }

      input[type=submit] {
        color: white;
        background-color: $gj-grey;
        width: 10em;
        padding: 1em;
        border-radius: .25em;
        border: 1px solid $gj-grey;
        font: 80%/100% $body-font;
      }
    }

    .review-card {
      width: 60%;
      margin: auto;

      @media (min-width: 44em) {
        width: 12em;
        margin: 0 auto;
      }

      li {
        margin-bottom: .5em;
      }

      #order-total, #order-shipping {
        border-top: 1px solid #000;
        padding-top: .5em;
        margin-bottom: 0;
      }

      .right {
        float: right;
      }
    }
  }
}
