#stars {
  display: flex;
  justify-content: space-around;

  .s-s-veggie {
    color: $ss-veggie;
  }

  .mainstay-green {
    color: $mainstay-green;
  }

  .dockside-sunrise {
    color: $dockside-sunrise;
  }

  .starboard-strawberry {
    color: $starboard-strawberry;
  }

  .sailors-delight {
    color: $sailors-delight;
  }

  .harbor-voyage {
    color: $harbor-voyage;
  }

  .watermelon-waves {
    color: $watermelon-waves;
  }

  .anchor-case {
    color: $anchor-case;
  }

  .crew-case {
    color: $crew-case;
  }

  .lighthouse-case {
    color: $lighthouse-case;
  }

  .compass-case {
    color: $compass-case;
  }


  .sr-user-rating,
  .sr-avg-rating {
    color: inherit;
  }

  .stars {

    &.hide {
      display: none;
    }

    .fa {
      font-size: 2em;
    }
  }

  #review-button {
  	margin: 0;
	font-weight: normal;
	cursor: pointer;

	&:hover {
	  color: $gj-grey;
	}
  }
}
