$body-font: 'Josefin Sans', sans-serif;
$header-font: 'Josefin Sans', sans-serif;

/* Colors */

$starboard-strawberry: #ae3863;
$harbor-voyage:        #457bbe;
$ss-veggie:            #81bc41;
$dockside-sunrise:     #f06177;
$mainstay-green:       #0096aa;
$watermelon-waves:     #9cd8d8;
$sailors-delight:      #ee7522;
$body-bg:              #fff;
