$body-font: 'Josefin Sans', sans-serif;
$header-font: 'Josefin Sans', sans-serif;

/* Colors */

$starboard-strawberry:      #ae3863;
$starboard-strawberry-dark: #951F4A;
$harbor-voyage:             #457bbe;
$harbor-voyage-dark:        #2C62A5;
$ss-veggie:                 #81bc41;
$ss-veggie-dark:            #68A328;
$dockside-sunrise:          #f06177;
$dockside-sunrise-dark:     #D7485E;
$mainstay-green:            #0096aa;
$mainstay-green-dark:       #007D91;
$watermelon-waves:          #9cd8d8;
$watermelon-waves-dark:     #83BFBF;
$sailors-delight:           #ee7522;
$sailors-delight-dark:      #D55C09;
$anchor-case:               #1e8f47;
$anchor-case-dark:          #05762E;
$compass-case:              #ee2425;
$compass-case-dark:         #D50B0C;
$crew-case:                 #3e3b5e;
$crew-case-dark:            #252245;
$lighthouse-case:           #666666;
$lighthouse-case-dark:      #4D4D4D;
$body-bg:                   #fff;
$gj-grey:                   #58595b;
