{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

 {% extends "_layout" %}

 {% set bodyId = "index" %}

 {% block content %}

 {# --------------- MC modal start  ---------------  #}

{# check if user exist, we don't want to show the 10% discount when someone is logged in #}
{% if currentUser == false  %}

  {# our lightbox el to overlay the page content #}
  <div class="lightbox active"></div>

  <div class="modal user-signup-discount" style="background: url({{ entry.modalBgImage.first().getUrl() }})no-repeat center center; background-size: cover;">
    <button class="btn-modal-close">X</button>
    <p class="p-md">Join our crew and receive</p>
    <p class="p-xxl">10% oFF</p>
    <p class="p-sm">your first order*, plus udpates on events & more!</p>
    <hr>
    <form class="newsletter-form" action="" method="POST">
      <input type="hidden" name="action" value="mailchimpSubscribe/list/subscribe">
      {# show messages #}
      {% if mailchimpSubscribe is defined %}
        {% if not mailchimpSubscribe.success %}
          <p class="message error">{{ mailchimpSubscribe.message }} </p>
        {% endif %}

        {% if mailchimpSubscribe.success %}
          <p class="message success">Thank you for signing up!</p>
        {% endif %}
      {% endif %}
      {#
        if mailchimp array is undefined, meaning nothing exist yet or
        there's an error, show the form
      #}
      {% if mailchimpSubscribe is not defined or mailchimpSubscribe is null or mailchimpSubscribe.success == false %}
        <div class="field-group">
          <input placeholder="First Name" type="text" name="mcvars[FNAME]" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.vars.FNAME }}{% endif %}"/>
        </div>
        <div class="field-group">
          <input placeholder="Email" type="text" name="email" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.email }}{% 	endif %}"/>
        </div>

        <input type="submit" name="" value="Sign Up"/>
      {% endif %}
    </form>
    <p class="p-sm">*Shipping excluded from discount</p>
  </div>
{% endif %}

{% includeJsFile "/assets/js/modal.js" %}

{#  ---------------  MC modal end  ---------------  #}

<div id="bg-img-wrap">
  <div id="bg-img" style="background: url({{ entry.backgroundImage.first().getUrl() }})no-repeat center center; background-size: cover; height: 65vh">
  </div>
  <div id="bg-vid-wrapper">
   <video playsinline autoplay muted loop id="bgvid">
     <source src="/assets/video/gundalow-bg-loop.mp4" type='video/mp4'>
   </video>
  </div>

  <div id="hero">
    <h1>{{ entry.heroStatement }}</h1>
    <p>{{ entry.body }}</p>
  </div>
</div>

  {% set products = entry.featuredJuice %}

  {% for product in products %}

<section id="featured-prod">
  <div id="product-wrap">
    <img src="{{ product.productImage.first().getUrl() }}" alt="" />

    <div id="product-content">
      <h2 class="{{ product.slug }}">{{ product.title }}</h2>
      <p>
        {{ product.description }}
      </p>
      <div id="button">

        <p>
          <a id="cta" class="{{ product.slug }}" href="/juice">shop juice</a>
        </p>

{# Remove Buy CTA
        {% set variant = product.defaultVariant %}
        <button id='minus' class="{{ product.slug }}">-</button>
        <form class="{{ product.slug }}" method="POST">
            <input type="hidden" name="action" value="commerce/cart/updateCart">
            <input type="hidden" name="redirect" value="cart">
            <input type="hidden" name="qty" value="">
            <input type="hidden" name="purchasableId" value=" {{variant.purchasableId}}">
            <input id="add-to-cart" type="submit" value="Add to cart">
        </form>
        <button id='plus' class="{{ product.slug }}">+</button>

#}

      </div>
    </div>
  </div>
</section>

{% endfor %}

{% include '_includes/media-logos'%}

{% endblock %}
