{#
 # Juice index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = entry.seoTitle %}
{% set description = entry.seoDesc %}
{% set bodyId = "shop-juice" %}

{% block content %}
  {% set juices = craft.commerce.products.type('juice').find() %}

    <div id="product-image">
      <div class="carousel">
        {% for juice in juices %}
        <div class="carousel-cell {{ juice.slug }}">
          <img src="{{ juice.productImage.first().getUrl() }}" alt="" />
        </div>
        {% endfor %}
      </div>
    </div>

    <div id="juice-content">
      <div id="juice-header">
      </div>
    </div>

    <div id="pack-info">
      <p>Gundalow Juice is sold online in quantities of seven</p>
    </div>

<div id="button">
  {% for product in craft.commerce.products.limit(1).find() %}

      {% set variant = product.defaultVariant %}
      <button id='minus'>-</button>
      <form id="addCart" class="" method="POST">
          <input type="hidden" name="action" value="commerce/cart/updateCart">
          <!-- <input type="hidden" name="redirect" value="cart"> -->
          <input id="qtyBtn" type="hidden" name="qty" value="0">
          <input type="hidden" name="purchasableId" value="">
          {{ getCsrfInput() }}
           <input id='add-to-cart' type="submit" value="Add to cart">
      </form>
      <button id='plus'>+</button>

  {% endfor %}
</div>

   <div id="ingredients">
     <h2>Ingredients</h2>
    <div id="icons">
      <svg class="icon apple-icon hide sd ss-veg mg">
        <use xlink:href='#apple-icon'></use>
      </svg>
      <svg class="icon basil-icon hide ss">
        <use xlink:href='#basil-icon'></use>
      </svg>
      <svg class="icon blackberry-icon hide hv">
        <use xlink:href='#blackberry-icon'></use>
      </svg>
      <svg class="icon celery-icon hide ss-veg mg">
        <use xlink:href='#celery-icon'></use>
      </svg>
      <svg class="icon cucumber-icon hide ds ss-veg mg">
        <use xlink:href='#cucumber-icon'></use>
      </svg>
      <svg class="icon ginger-icon hide ds hv sd mg">
        <use xlink:href='#ginger-icon'></use>
      </svg>
      <svg class="icon honeydew-icon hide hv">
        <use xlink:href='#honeydew-icon'></use>
      </svg>
      <svg class="icon jalapeno-icon hide ds">
        <use xlink:href='#jalapeno-icon'></use>
      </svg>
      <svg class="icon kale-icon hide ss-veg">
        <use xlink:href='#kale-icon'></use>
      </svg>
      <svg class="icon lemon-icon hide hv sd ss-veg mg">
        <use xlink:href='#lemon-icon'></use>
      </svg>
      <svg class="icon lime-icon hide ds ww">
        <use xlink:href='#lime-icon'></use>
      </svg>
      <svg class="icon mint-icon hide ww">
        <use xlink:href='#mint-icon'></use>
      </svg>
      <svg class="icon pineapple-icon hide ss ds hv">
        <use xlink:href='#pineapple-icon'></use>
      </svg>
      <svg class="icon raspberry-icon hide sd">
        <use xlink:href='#raspberry-icon'></use>
      </svg>
      <svg class="icon romaine-icon hide ss-veg">
        <use xlink:href='#romaine-icon'></use>
      </svg>
      <svg class="icon spinach-icon hide ss-veg mg">
        <use xlink:href='#spinach-icon'></use>
      </svg>
      <svg class="icon strawberry-icon hide ss">
        <use xlink:href='#strawberry-icon'></use>
      </svg>
      <svg class="icon tangerine-icon hide sd">
        <use xlink:href='#tangerine-icon'></use>
      </svg>
      <svg class="icon watermelon-icon hide ww">
        <use xlink:href='#watermelon-icon'></use>
      </svg>
      </div>
    <div id="ingredient-content">
      <div class="apple hide">
        <h2>Apple</h2>
        <p>Antioxidant-rich apples are linked with healthier hearts and may even help you work out longer.</p>
      </div>
      <div class="basil hide">
        <h2>Basil</h2>
        <p>Basil has been an essential part of Ayurvedic medicine for thousands of years.</p>
      </div>
      <div class="blackberry hide">
        <h2>Blackberry</h2>
        <p>Every little blackberry is packed with antioxidants to fight disease and free radicals.</p>
      </div>
      <div class="celery hide">
        <h2>Celery</h2>
        <p>No "negative calories" here, just plenty of good hydration and nutrients.</p>
      </div>
      <div class="cucumber hide">
        <h2>Cucumber</h2>
        <p>Humans are roughly 70% water. Cucumbers are 95%. It's all about hydration!</p>
      </div>
      <div class="ginger hide">
        <h2>Ginger</h2>
        <p>Ginger provides many essential minerals like manganese, crucial for the metabolism and antioxidant systems.</p>
      </div>
      <div class="honeydew hide">
        <h2>Honeydew</h2>
        <p>Honeydew melon has roughly the same amount of potassium as banana.</p>
      </div>
      <div class="jalapeno hide">
        <h2>Jalapeno</h2>
        <p>This tasty chili pepper is an excellent source of vitamins including B6 (metabolism) and E (antioxidant).</p>
      </div>
      <div class="kale hide">
        <h2>Kale</h2>
        <p>Kale has got it all going on. But did you know that per calorie, kale has more calcium than milk?</p>
      </div>
      <div class="lemon hide">
        <h2>Lemon</h2>
        <p>Lemon is a Vitamin C powerhouse and has been cultivated since the 1400s!</p>
      </div>
      <div class="lime hide">
        <h2>Lime</h2>
        <p>Limes are prized for their aroma and are an excellent source of Vitamin C.</p>
      </div>
      <div class="mint hide">
        <h2>Mint</h2>
        <p>A natural stimulant, mint can supercharge your day and keep the digestive system running smoothly.</p>
      </div>
      <div class="pineapple hide">
        <h2>Pineapple</h2>
        <p>Nutrient-dense pineapple is an excellent source of Vitamin C.</p>
      </div>
      <div class="raspberry hide">
        <h2>Raspberry</h2>
        <p>Organic raspberries are anti-inflammatory, high in antioxidants, and (unlike other fruits) it's a low-glycemic index food.</p>
      </div>
      <div class="romaine hide">
        <h2>Romaine</h2>
        <p>Like kale and other dark leafy greens, the antioxidants in romaine are believed to help prevent and fight disease.</p>
      </div>
      <div class="spinach hide">
        <h2>Spinach</h2>
        <p>A superfood before it was trendy, spinach contains more iron than hamburger and tons of essential nutrients.</p>
      </div>
      <div class="strawberry hide">
        <h2>Strawberry</h2>
        <p>Studies show that eating organic strawberries may lower total cholesterol.</p>
      </div>
      <div class="tangerine hide">
        <h2>Tangerine</h2>
        <p>Tangerine's pretty color comes from beta-Carotene, a natural form of Vitamin A, and helps maintain healthy eyes, skin, and hair.</p>
      </div>
      <div class="watermelon hide">
        <h2>Watermelon</h2>
        <p>The ultimate workout and recovery fruit? Studies show that consuming watermelon before exercising results in enhanced circulation and reduced muscle soreness.</p>
      </div>
    </div>
  </div>

  {% include '_includes/media-logos'%}

  {% includeJsFile "/assets/js/basketLoad.js" %}

  {% includeJsFile '/assets/js/addButton.js' %}

{% endblock %}
