{#
 # Customer Care index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/customer-care is
 # requested, because it is located at customer-care/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = entry.seoTitle %}
{% set description = entry.seoDesc %}
{% set bodyId = "customer-care" %}

{% block content %}

  <div id="bg-img" style="background: url({{ entry.backgroundImage.first().getUrl() }})no-repeat center center; background-size: cover; height: 65vh"></div>

  <section>
    <h1>{{ entry.title }}</h1>
    <p>{{ entry.headline }}</p>

    {% for block in entry.policies %}

      {% if block.type == 'policies' %}
      {% if block.heading == 'Shipping & Delivery' %}

        <h2 id="shipping">{{ block.heading}}</h2>

	{% else %}

	<h2>{{ block.heading }}</h2>

	{% endif %}
        {{ block.textContent }}

      {% endif %}

    {% endfor %}

  </section>

{% endblock %}
